.spaarkspill {
  border-radius: 30px;
  // min-width: 150%;
  padding: 2px;
  display: flex;
  width: 85px;
  align-items: center;
  justify-content: center;
  text-align: center;
  //max-height: 30px;
  overflow: hidden;
  min-height: 25px;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.16500000655651093px;
  text-align: center;
  margin-right: 15px;
}
