slide {
  margin-left: auto !important;
  margin-right: auto !important;
}

.divv > img {
  padding: 1rem;
  width: 185px;
  height: 245px;
}

.divv {
  width: 185px;
  height: 245px;
  object-fit: cover;
}

.textStyle {
  display: block;
  color: #757575;
  background-color: #f0f2f5;
  width: 100%;
  padding: 10px;
}

// .getstarted{
//     font-size: 1.3rem;
//     font-weight: 600;
// }

.profilee {
  width: 36px;
  height: 36px;
  border-radius: 48px;
}

.arrowSearch {
  height: 27px;
  width: 14px;
}

.spaarksanonymousContainer {
  // max-width: 400px;
  // max-width: 500px;
}

.spaarksanonymouslycard {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  // overflow-y: scroll !important;
}

.recentchatsdiv {
  border-radius: 7px;
}

.spaarkcardtextanony {
  // font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  // font-size: 18px;
  font-size: 16px;
  line-height: 22px;
  // text-align: justify;
  // letter-spacing: -0.165px;
  letter-spacing: 1px;
  word-spacing: -1px;

  // color: #acb2be;
 // color: #212529;
}

.anonymouschatbutton {
  height: 39px;
  width: 230px;
  border-radius: 5px;
  background: #6FA4E9;

  span {
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
  }
}

.clickspaarkonanycard {
  height: 235px;
  width: 100%;

  border-radius: 8px;

  img {
    height: 85.30451965332031px;
    width: 94.091552734375px;

    border-radius: 0px;
  }

  span {
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.16500000655651093px;
    text-align: center;

    color: #acb2be;
  }
}

.search-item {
  // min-height: 80px;
  width: 95%;
  border-radius: 8px;
  margin-bottom: 8px;
  margin: 12px;
  background: white;
  //border: 0.8px solid #d7d7d7;
  border: 0.8px solid #d7d7d7;

  div {
    
    p {
      font-family: Source Sans Pro;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: -0.16500000655651093px;
      text-align: left;
      

      small {
        b {
          font-family: Source Sans Pro;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 25px;
          letter-spacing: -0.16500000655651093px;
          text-align: center;
          color: #6FA4E9;
        }
        small {
          font-family: Source Sans Pro;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 25px;
          letter-spacing: -0.16500000655651093px;
          text-align: center;
          color: #6FA4E9;
        }
      }
    }
  }
}

.viewAll {
  font-weight: bold;
  text-align: center;
  background-color: white;
}

.reqstDiv {
  // border: 1px solid lightgray;
  border-radius: 10px;
  // overflow: scroll;
  overflow-x: hidden;
  overflow-y:auto;
  background-color: white;
  max-height: 450px;
}

::-webkit-scrollbar {
  // width: 0px;
}

.searchBar {
  line-height: 36px;
  height: 40px;
  // width: 19vw;
  border-radius: 48px;
  background: white;
  resize: none;
  overflow: hidden;
  // border-color: transparent !important;
  border: 0.8px solid #d7d7d7;
}

textarea:focus {
  outline: none;
}

// Search bar starts
.searchExtension {
  position: absolute;
  top: 58px;
  z-index: 4;
  max-height: 300px;
  overflow-y: scroll;
  left: 10px;
  width: 98%;
}

// .searchExtension2 {
//   position: absolute;
//   top: 120px;
//   z-index: 4;
//   max-height: 300px;
//   overflow-y: scroll;
//   left: 10px;
//   width: 98%;
// }

.searchExtensionparent {
  // position: relative;
}

// Search bar ends

.mat-chip.mat-standard-chip {
  background-color: white;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

.slidestyle {
  height: 200px;
  width: 100%;
  background-color: burlywood;
  border-radius: 10px;
}

.searchDiv {
  height: 90vh;
  overflow: scroll;
  //position: absolute;
  z-index: 5;
  background-color: #f0f2f5;
  width: 100%;
  right: 0;
}

.lowerDiv {
  margin-top: 300px;
}

.pillsDiv {
  display: block;
}

.searchicon {
  height: 100%;
  font-size: 24px;
  width: 75px;
}

.searchImg {
  margin: 2px 8px;
}

@media screen and (max-width: 1450px) {
  .searchCross {
    //width: 100%;

    margin-left: -34px !important ;
  }
}
.searchCross {
  display: flex-item;
  justify-content: flex-end;
  margin-left: 0px;
}

.notloggedIn {
  display: flex;
  flex-wrap: wrap;
}

slide {
  margin-left: auto !important;
  margin-right: auto !important;
}

.notForMob {
  background-image: url("../../../assets/down_darkblue.svg");
  background-position: center;
  padding: 6px !important;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-size: 20px 20px;
  cursor: pointer;
  // position: absolute;
}

.notForMob:hover {
  padding: 6px !important;
  background-position: center;
  background-image: url("../../../assets/back.svg");
  width: 44px;
  height: 44px;
  display: block;
  background-color: #d7d7d78a;
}
.servicesOfferedText{
  // width: 107px;
  /* height: 20px; */
  /* left: 425px; */
  /* top: 175px; */
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #6FA4E9;
}
.divv > img {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.divv {
  width: 100%;
  height: 174px;
  object-fit: cover;
  justify-content: center;
  display: flex;
  align-items: center;
}

.getstarted {
  font-size: 1.3rem;
  font-weight: 600;
}

.profilee {
  width: 36px;
  height: 36px;
}

.cardDimen {
  width: 200px;
  height: 180px;
}

.cardScroll {
  overflow: scroll;
  display: flex;
  scroll-behavior: smooth;
  width: 100%;
}

::-webkit-scrollbar {
  // display: none;
}

@media screen and (max-width: 1921px) and (min-width: 1500px) {
  .divv > img {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 619px) {
  .notForMob {
    display: none;
  }
}

.mapContainer {
  width: 95%;
  margin: 0 auto;
  height: 20rem;
  border-radius: 3px;
  border: 0.8px solid #d7d7d7;
}

.explore_style {
  position: absolute;
  bottom: 1rem;
  font-weight: 600;
  padding: 2px 13px;
  color: white;
  background: #6FA4E9;
  border-radius: 20px;
}

.searchTabs{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.searchCat{
  margin-bottom: 25px;
}
.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none !important;
}

.mat-tab-body-content{
  padding: 7px !important;
}

.sellerPic{
  width: 82px;
  height: 82px;
  border-radius: 20px;
}
.mat-tab-label {
  padding: 0 18px !important;
  min-width: 55px !important;

}
@media screen and(min-width:1200px) and (max-width:1566px){
  .mat-tab-label{
    font-size:12px !important;
  }

}

.mat-ink-bar {
  background-color: #6fa4e9 !important;
}


.cardPill {
  border: 1px solid #24b273;
  border-radius: 14px;
 // width: 68px;
   
}

.cardPill > span {
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.165px;
  // color: var(--textColorCard);
  color: #6FA4E9;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  padding: 3px;
}


.pillsDiv{
      display: flex;
   // justify-content: center;
    //justify-content: space-around;
    margin: 5px;
   // height: 30px;
    border-bottom: 1px solid #d7d7d7;
    /* margin-bottom: 9px; */
    padding: 7px;
    margin-bottom: 10px;
}
.mat-tab-label:hover{
  background-color:#2f80ed12;
  color: #6FA4E9;
}

