.allSection {
  display: none !important;
}

.leftTxt {
  color: #6fa4e9 !important;
}

.leftTxt1 {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 619px) and (min-width: 450px) {
  .allSection {
    display: inline-flex !important;
    // min-height: 75px;
    // height: 100%;
    width: 100vw;
    justify-content: space-between;
    // margin: 10px;
    background-color: white;
    text-align: center;
    left: 0px;
    // position: fixed;
    bottom: 0px;
    padding: 15px;
    border-top: 1px solid lightgray;
    z-index: 10;
  }

  .leftTxt1 {
    color: black;
    text-decoration: none;
  }

  .listItem {
    a {
      color: black;
      text-decoration: none;
    }
  }

  .listItem {
    align-items: center;
  }

  .listGroup {
    li {
      display: flex;
      align-items: center;
    }
  }
}

.bgIcons {
  background-repeat: no-repeat;
  background-size: 28px 28px;
}
.bgimg1 {
  background-image: url("../../../assets/Tab Bar/Home.svg");
}
.listItem:hover,
.listItem.active {
  .bgimg1 {
    background-image: url("../../../assets/Tab Bar/Home _1.svg");
  }
  .bgimg2 {
    background-image: url("../../../assets/Tab Bar/ChatIcon_1.svg");
  }
  .bgimg3 {
    background-image: url("../../../assets/Tab Bar/plusCirlce_1.svg");
  }
  .bgimg4 {
    background-image: url("../../../assets/Tab Bar/newExplore_1.svg");
  }
}

.bgimg2 {
  background-image: url("../../../assets/Tab Bar/ChatIcon.svg");
}

.bgimg3 {
  background-image: url("../../../assets/Tab Bar/plusCirlce.svg");
}

.bgimg4 {
  background-image: url("../../../assets//Tab Bar/newExplore.svg");
}

@media screen and (max-width: 950px) {
  .optionSpan {
    width: 28px;
    height: 28px;
    display: block;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1030px) {
  .optionSpan {
    width: 29px;
    height: 29px;
  }

  .leftTxt {
    font-size: 16px;
    color: #6fa4e9 !important;
  }

  .allSection {
    display: inline-flex !important;
    min-height: 75px;
    width: 100vw;
    justify-content: space-between;
    background-color: white;
    text-align: center;
    left: 0px;
    // position: fixed;
    bottom: 0px;
    padding: 15px;
    border-top: 1px solid lightgray;
    z-index: 10;
  }
}
// .active{
//   background-image: url('../../../assets/Tab Bar/ChatIcon_1.svg');
// }
