.secondstep {
  background-color: #F0F2F5;

  p {
    font-size: 18px;
  }
}

.bodymain {
  background: #F0F2F5;
  border-radius: 12px;
  min-height: 150px;
  width: 98%;
}

.toggleDiv {
  background: #FFFFFF;
  border-radius: 8px;
  min-height: 90px;
  max-height: 314px;
  height: auto;
}

$width: 120px;
$padding: 7px;
$height: $width / 2+$padding;

.leftImg {
  width: 75px;
  height: 75px;
}

.cardtextt {
  font-weight: bold;
  font-size: 16px !important;
  font-weight: 600;
  color: #000000d1;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 120px;
  height: 108px;
  box-sizing: border-box;
}


.button-cover:before {
  counter-increment: button-counter;
  // content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #fcebeb;
  transition: 0.3s ease all;
  z-index: 1;
}


/* Button 2 */
#button-2 .knobs:before,
#button-2 .knobs:after {
  content: ' ';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 36%;
  height: 70%;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #F44336;
  border-radius: 50%;
  transition: 0.3s ease all;
}

#button-2 .knobs:before {
  content: ' ';
}

#button-2 .knobs:after {
  content: '  ';
}

#button-2 .knobs:after {
  right: -28px;
  left: auto;
  background-color: #03A9F4
}

#button-2 .checkbox:checked+.knobs:before {
  left: -28px;
}

#button-2 .checkbox:checked+.knobs:after {
  right: 4px;
}

#button-2 .checkbox:checked~.layer {
  background-color: #ebf7fc;
  ;
}

.mediaicon {
  width: 24px;
  height: 21px;
}

.basefirststep {
  background-color: #F0F2F5;
}

.mediaimagee {
  border-right: 0.5px solid #9e9e9e;

  span {
    color: #6FA4E9;
  }
}


.mediaimagee,
.mediavideo {
  min-width: 70%;
}

.nextspan {
  background: #6FA4E9;
  border-radius: 100px;
  min-width: 20%;

  span {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
      img {
        width: 24px;
        height: 14px;
      }
    }
  }



}

.mediaspan {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slider:before {

  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
