.emoji{
    display: inline;
    font-size: 26px;
    margin: 2px;
}
p{
    display: inline;
}
.adjust{
    margin:0 auto;
    user-select: none;
}

@media screen and (max-width:1350px){
    .emoji{
        font-size: larger;
    }
}