
<!-- get started screen start -->
<div  class="mx-auto my-3 text-center h-100">
  <div class="main_spk">
    <img class="spkSize" src="../../../assets/default.svg">
  </div>
  <span class="spk">Spaarks</span>
  <div class="all_btm">
    <div class=" mb-5 pb-5">
    <span class="sub_main my-3">{{"Connect to your local area" |featureText}}</span>
    <span class="colorBlue mb-5">{{"Announce, Make Friends, Reach Customers, Promote Business, Find Work" |featureText}}</span>
  </div>
    <div class="btnBck" (click)="goToLang()">
      <span class="allBtns">{{"Get Started" |featureText}}</span>
    </div>
  </div>
</div>
<!-- get started screen end -->