<div *ngIf="showspaarkModal">
    <div class="modalBody allCenter">
        <div class="spaarkModal">
            <div class="w-100 d-flex" *ngIf="DataSource">
                <div style="flex:14;">
                    <span class="boldTxtAll">{{DataSource.title}}</span>
                    <span class="Spantxt">
                        {{DataSource.subtitle|sliceName}} {{"commented on Your Spaark." |featureText}}
                    </span>
                </div>

                <div class="w-100 d-flex justify-content-end align-items-center p-2 " style="flex:1;">
                    <span class="cross cursorpointer" (click)="closeModal()">
                        <img src="../../../assets/cross.svg" alt="">
                    </span>
                </div>

            </div>

            <div class="w-100" *ngIf="!DataSource">
                <div *ngIf="DataSource">
                    <span class="boldTxtAll">{{DataSource.title}}</span>
                    <span class="Spantxt">
                        {{DataSource.subtitle|sliceName}} {{"commented on Your Spaark." |featureText}}
                    </span>
                </div>

                <div class="w-100 d-flex justify-content-end align-items-center p-2 ">
                    <span class="cross cursorpointer" (click)="closeModal()">
                        <img src="../../../assets/cross.svg" alt="">
                    </span>
                </div>

            </div>
            <app-spaarkscard [openComments]='true' [post]="post"></app-spaarkscard>
        </div>
    </div>
</div>
