<!-- 
    
    <div class="cookiepolicy allCenter" >
        <div class=" cookiepolicyCore p-3 allCenter"  style="display: flex;
        ">
            <div class=" cookiepolicyText text-center allCenter" > 
                By clicking “OK” you are agreeing to accept our cookie policies.
            </div>
    
           
                <div class="allCenter ml-3">
                    <div class="cookie-button allCenter">
                        <span class="ok-button cursorPointer" (click)="clickedOk()">ok</span>
                    </div>
                </div>
           
        </div>
    </div> -->
